{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | DDCET</title>

    <link rel="stylesheet" href="{% static 'css/auth-style.css' %}">

        <!-- RESPONSIVE PAGE -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>

<div class="auth-wrapper">

    <div class="auth-box">
        <h2>Forgot Password</h2>

        <form method="post">
            {% csrf_token %}

            <input type="email" name="email" placeholder="Enter your registered email" required>

            <button type="submit">Send OTP</button>

            <div class="auth-link">
                <a href="{% url 'login' %}">Back to Login</a>
            </div>
        </form>
    </div>

</div>

{% if messages %}
<script>
    {% for message in messages %}
        alert("{{ message|escapejs }}");
    {% endfor %}
</script>
{% endif %}

</body>
</html>