{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register | DDCET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

    <!-- RESPONSIVE PAGE -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>

<div class="container">
    <div class="card">

        <form method="post">
            {% csrf_token %}

            <input type="text" name="first_name" placeholder="First Name" required>

            <input type="text" name="last_name" placeholder="Last Name" required>

            <input type="text" name="username" placeholder="Username" required>

            <input type="email" name="email" placeholder="Email" required>

            <input type="password" name="password" placeholder="Password" required>

            <p class="hint">
                8+ characters with 1 uppercase, 1 lowercase,
                1 number & 1 special character.
            </p>

            <button type="submit">REGISTER</button>

            <div class="link">
                Already have an account?
                <a href="{% url 'login' %}">Login</a>
            </div>

        </form>

    </div>
</div>

{% if messages %}
<script>
{% for message in messages %}
alert("{{ message|escapejs }}");
{% endfor %}
</script>
{% endif %}

</body>
</html>