{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password | DDCET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/auth-style.css' %}">

        <!-- RESPONSIVE PAGE -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>

<div class="auth-wrapper">

    <div class="auth-box">
        <h2>Reset Password</h2>

        <form method="post">
            {% csrf_token %}

            <input type="password" name="password1" placeholder="New Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>

            <button type="submit">Update Password</button>

            <div class="password-note">
                Password must be 8+ characters with 1 uppercase, 1 lowercase, 1 number & 1 special character.
            </div>
        </form>
    </div>

</div>

{% if messages %}
<script>
    {% for message in messages %}
        alert("{{ message|escapejs }}");
    {% endfor %}
</script>
{% endif %}

</body>
</html>